In [3]:
import polars as pl
from polars import col, lit

In [24]:
data = {"name": ["Alice", "Bob", "Charlie", "Dave"],
        "age": [25, 32, 28, 45],
        "city": ["New York", "London", "Paris", "Tokyo"],
        "salary": [50000, 70000, 60000, 80000]}
df = pl.DataFrame(data)
print(df)

shape: (4, 4)
┌─────────┬─────┬──────────┬────────┐
│ name    ┆ age ┆ city     ┆ salary │
│ ---     ┆ --- ┆ ---      ┆ ---    │
│ str     ┆ i64 ┆ str      ┆ i64    │
╞═════════╪═════╪══════════╪════════╡
│ Alice   ┆ 25  ┆ New York ┆ 50000  │
│ Bob     ┆ 32  ┆ London   ┆ 70000  │
│ Charlie ┆ 28  ┆ Paris    ┆ 60000  │
│ Dave    ┆ 45  ┆ Tokyo    ┆ 80000  │
└─────────┴─────┴──────────┴────────┘

In [25]:
filtered_df = df.filter(col("age") > 30)
print(filtered_df)

shape: (2, 4)
┌──────┬─────┬────────┬────────┐
│ name ┆ age ┆ city   ┆ salary │
│ ---  ┆ --- ┆ ---    ┆ ---    │
│ str  ┆ i64 ┆ str    ┆ i64    │
╞══════╪═════╪════════╪════════╡
│ Bob  ┆ 32  ┆ London ┆ 70000  │
│ Dave ┆ 45  ┆ Tokyo  ┆ 80000  │
└──────┴─────┴────────┴────────┘

In [26]:
selected_df = df.select(["name", "salary"])
print(selected_df)

shape: (4, 2)
┌─────────┬────────┐
│ name    ┆ salary │
│ ---     ┆ ---    │
│ str     ┆ i64    │
╞═════════╪════════╡
│ Alice   ┆ 50000  │
│ Bob     ┆ 70000  │
│ Charlie ┆ 60000  │
│ Dave    ┆ 80000  │
└─────────┴────────┘

In [27]:
total_salary = df.select(col("salary")).sum()
print(total_salary)

shape: (1, 1)
┌────────┐
│ salary │
│ ---    │
│ i64    │
╞════════╡
│ 260000 │
└────────┘

In [28]:
clean_df = df.drop_nulls()
print(clean_df)

shape: (4, 4)
┌─────────┬─────┬──────────┬────────┐
│ name    ┆ age ┆ city     ┆ salary │
│ ---     ┆ --- ┆ ---      ┆ ---    │
│ str     ┆ i64 ┆ str      ┆ i64    │
╞═════════╪═════╪══════════╪════════╡
│ Alice   ┆ 25  ┆ New York ┆ 50000  │
│ Bob     ┆ 32  ┆ London   ┆ 70000  │
│ Charlie ┆ 28  ┆ Paris    ┆ 60000  │
│ Dave    ┆ 45  ┆ Tokyo    ┆ 80000  │
└─────────┴─────┴──────────┴────────┘

In [29]:
filled_df = df.fill_null("N/A")
print(filled_df)

shape: (4, 4)
┌─────────┬─────┬──────────┬────────┐
│ name    ┆ age ┆ city     ┆ salary │
│ ---     ┆ --- ┆ ---      ┆ ---    │
│ str     ┆ i64 ┆ str      ┆ i64    │
╞═════════╪═════╪══════════╪════════╡
│ Alice   ┆ 25  ┆ New York ┆ 50000  │
│ Bob     ┆ 32  ┆ London   ┆ 70000  │
│ Charlie ┆ 28  ┆ Paris    ┆ 60000  │
│ Dave    ┆ 45  ┆ Tokyo    ┆ 80000  │
└─────────┴─────┴──────────┴────────┘